.text-input {
    -fx-highlight-fill: paleturquoise;
    -fx-font-size: 13;
}

.button  {
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
#btnRun {
    -fx-background-size: 16px 18px;
    -fx-background-image: url("runIcon.png");
}

#btnStep {
    -fx-background-image: url("stepIcon.png");
}

#btnChoose {
    -fx-background-size: 25px 25px;
    -fx-background-image: url("chooseIcon.png");
}

#btnReset {
    -fx-background-image: url("resetIcon.png");
}